{% extends 'main/base.html' %}
{% load staticfiles %}
{% load pwa %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'qa/css/carousel.css' %}" type="text/css">
{% endblock %}
{% block heading %}QA APP{% endblock %}
{% block head %}
<!-- all for PWA -->
<!-- <link rel="manifest" href="/manifest.json"> -->
<link rel="icon" href="{% static 'main/img/favicon.png' %}">
<!-- theme-color defines the top bar color (blue in my case) -->
<meta name="theme-color" content="#FFF"/>

<!-- Add to home screen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
<meta name="apple-mobile-web-app-title" content="民代拍檔"/>
<link rel="apple-touch-icon" href="{% static 'main/img/144x144.png' %}"/>

<!-- Add to home screen for Windows -->
<meta name="msapplication-TileImage" content="{% static 'main/img/144x144.png' %}"/>
<meta name="msapplication-TileColor" content="#000000"/> 
{% endblock %}
{% block content %}
<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">PTT 定時報</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main:main' %}">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0" method=get action="{% url 'qa:answer' %}">
            <input class="form-control mr-sm-2" id="q" name="q" type="text" placeholder="Question.." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask</button>
          </form>
        </div>
      </nav>
    </header>

    <main role="main">


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
            <form  style="text-align:center; padding:3%;"  method=get action="{% url 'qa:saveKeyword' %}">
             <div class="form-group md-form">
                <label><h2>keyward</h2></label>
                <input class="form-control form-control-lg " id="keyword" name="keyword" type="text" placeholder="{{ keyword|default_if_none:'enter your keyword..' }}" aria-label="Search">
             </div>
                <p><button class="btn  btn-secondary my-2 my-sm-0" type="submit">Save</button></p>   
            </form>
            
        <!-- START THE FEATURETTES -->

        <hr >

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">最相關答覆. <span class="text-muted">前3名.</span></h2>
            {% for a in aswer %}              
                  <p class="lead">{{ a.title }}</p>
                  <a class="lead">{{ a.url }}</a>
            {% endfor %}
          </div>
<!--           <div class="col-md-5"> -->
<!--             <img class="featurette-image img-fluid mx-auto" src="{% static 'qa/img/month_terms.jpg' %}" alt="Generic placeholder image"> -->
<!--           </div> -->
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'qa/img/qa.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr ><!-- class="featurette-divider" -->

        <div class="row featurette">
          <div class="col-md-5 order-md-2">
            <h2 class="featurette-heading">本月標題關鍵字. </h2>
            <h3 class="featurette-heading"><span class="text-muted">文字雲.</span></h3>
            <h3 class="featurette-heading"><span class="text-muted">*每月初更新一次.</span></h3>          
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'qa/img/month_terms.jpg' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr >

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">關鍵字推噓數</h2>
            <h3><span class="text-muted">與當天資料做比較關鍵字熱門程度</span></h3>
            <p class="lead"><h1>{{ tweets }}</h1></p>
          </div>
          <div class="col-md-5">
            <canvas class="my-4 img-fluid mx-auto" id="myChart" ></canvas><!-- width="900" height="380" -->
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    {% if user.is_authenticated %}
      <script src="{% static 'qa/js/webPush.js' %}"></script>
    {% endif %}
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{% for label in labels %}'{{ label }}'{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          datasets: [{
            data: [{% for value in values %}'{{ value }}'{% if not forloop.last %}, {% endif %}{% endfor %}
            ],
            backgroundColor:'rgba(255, 99, 132, 0.2)',
            borderColor:'rgba(255,99,132,1)',
            borderWidth: 1,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
        	title:{
        		display:true,
        		text:'Top 100 熱門文章出現最多次的字詞'
        	},
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
{% endblock %}
{% block script %}
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}