<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block heading %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block css %}{% endblock %}
    {% block head %}{% endblock %}
  </head>
  <body style="text-align:center">
    
    {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>