<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>IoT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/owl.carousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/cssl/owl.theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/component.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/normalize.css' %}" />
    <link href="{% static 'main/css/pace-theme-flash.css' %}" rel="stylesheet" type="text/css"
        media="screen" />
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrapTheme.css' %}">
    <link href="{% static 'main/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- END CORE CSS FRAMEWORK -->
    <!-- BEGIN CSS TEMPLATE -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/magic_space.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'main/css/animate.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- END CSS TEMPLATE -->
    <script type="text/javascript" src="{% static 'main/js/jquery-1.8.3.min.js' %}"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="{% static 'main/js/slider1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/slider2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/settings.css' %}" media="screen" />
  </head>
  <body>
    <div class="main-wrapper">
        <header id="ha-header" class="ha-header ha-header-hide ">
            <div class="ha-header-perspective">
                <div class="ha-header-front navbar navbar-default">
                    <div class="compressed">
                        <div class="navbar-header">
                            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
                                type="button">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a href="#" class="navbar-brand compressed">
                                <h2>IoT</h2></a>
                        </div>
                        <div class="navbar-collapse collapse">
                            {% include 'main/menu.html' %}
                            
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </header>
        <div class="section ha-waypoint" data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">
            <div role="navigation" class="navbar navbar-transparent navbar-top">
                <div class="container">
                    <div class="compressed">
                        <div class="navbar-header">
                            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
                                type="button">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                                    class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a href="#" class="navbar-brand">
                                <h1>IoT</h1>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% include 'main/menu.html' %}
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <!--BEGIN SLIDER -->
            <div class="tp-banner-container">
                <div class="tp-banner" id="home">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'main/img/slide_one.jpg' %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center"
                                data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider" data-x="center"
                                data-hoffset="0" data-y="80" data-speed="500" data-start="800" data-easing="Power4.easeOut"
                                data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                                <h2 class="text-white custom-font title ">
                                    We Create<br>
                                    Map & Data
                                    <br />
                                    Analysis for Customers</h2>
                            </div>
                            <div class="tp-caption sfb slider tp-resizeme slider" data-x="center" data-hoffset="0"
                                data-y="320" data-speed="800" data-start="1000" data-easing="Power4.easeOut"
                                data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
                                <a href="{% url 'map:map' %}" class="btn btn-info btn-lg  btn-large m-r-10">See Map Now</a>
                            </div>
                        </li>
                           
                    </ul>
                    <div class="tp-bannertimer">
                    </div>
                </div>
                <div style="position: absolute; top: 469px; margin-top: -20px; left: 20px;" class="tp-leftarrow tparrows default"></div>
                <div style="position: absolute; top: 469px; margin-top: -20px; right: 20px;" class="tp-rightarrow tparrows default hidearrows"></div>
            </div>
            <!--END SLIDER
    
  -->
        </div>
       
    </div>
    <script src="{% static 'main/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/pace.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/jquery.unveil.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/owl.carousel.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.nicescroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.appear.js' %}"></script>
    <script src="{% static 'main/js/jquery.animateNumbers.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'main/js/core.js' %}"></script>
  </body>
  
</html>