{% load staticfiles %}
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/util.css' %}">
  
<!--===============================================================================================-->
</head>
<body>
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-85 p-b-20">
        <form class="login100-form validate-form" method="post" action="{% url 'account:register' %}">
        {% csrf_token %}
          <span class="login100-form-title p-b-70">
            Register
          </span>
          <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
            {{ userForm.username }}{% if userForm.username.errors %}<span class=errors>{{ userForm.username.errors }}</span>{% endif %}
            <span class="focus-input100" data-placeholder="Username"></span>
          </div>
          <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter password">
            {{ userForm.password }}{% if userForm.password.errors %}<span class=errors>{{ userForm.password.errors }}</span>{% endif %}
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password2">
            {{ userForm.password2 }}{% if userForm.password2.errors %}<span class=errors>{{ userForm.password2.errors }}</span>{% endif %}
            <span class="focus-input100" data-placeholder="Password2"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-50" data-validate="Enter fullName">
            {{ userForm.fullName }}{% if userForm.fullName.errors %}<span class=errors>{{ userForm.fullName.errors }}</span>{% endif %}
            <span class="focus-input100" data-placeholder="FullName"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-50" data-validate="Enter address">
            {{ userForm.address }}{% if userForm.address.errors %}<span class=errors>{{ userForm.address.errors }}</span>{% endif %}
            <span class="focus-input100" data-placeholder="Address"></span>
          </div>
          {% if nextURL %}
            <input type="hidden" name="nextURL" value="{{ nextURL }}">
          {% endif %}
          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
              Submit
            </button>
          </div>

          <ul class="login-more p-t-190">
            <li class="m-b-8">
              <span class="txt1">
                Home page
              </span>

              <a href="{% url 'main:main' %}" class="txt2">
                here
              </a>
            </li>

            <li>
              <span class="txt1">
                Don’t have an account?
              </span>

              <a href="{% url 'account:login' %}" class="txt2">
                Login
              </a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>

  

</body>
</html>